<!DOCTTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="W-UA-Compatible" content="ie=edge">
        <title>Playground</title>
        <style>
            #container {
                width: 1000px;
            }

            h1 {
                display: inline-block;
                width: 1000px;
                margin: 100px, 0px, 40px;
                text-align: center; 
            }

            .block {
                display: inline-block;
                background-color: {{ block_color }};
                width: 310px;
                height: 310px;
                margin: 10px;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <h1>Welcome!</h1>
            {% for i in range(0, block_count) %}
            <div class="block"></div>
            {% endfor %}            
        </div>
    </body>
</html>